.todo-item{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.remove-button {
    color: #FF0000;
    font-size: 12px;
    background: none;
    border: none;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;
}
.item-list-text {
    color: #757575;
    text-decoration: underline;
    font-size: 15px;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #707070;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .checkbox-container input:checked ~ .checkmark {
    background-color: #14FF14;
  }